.section {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 0 hsl(0, 0%, 75%);
  margin-top: 10px;
}

.section__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px lightgrey solid;
  padding: 20px;
}

.section__header {
border-bottom: 1px lightgrey solid;
padding: 20px;
margin: 0;

}

.section__containerHeader {
  margin: 0;
}
.section__buttons {
  align-self: center;
}

@media (max-width: 767px) {
  .section__buttons {
    width: 100%;
    display: flex;
    justify-content: center;

  }
  .section__containerHeader {
    margin-bottom: 10px;
}};